html
    head
        title=title
    body
        h1 Hello Jade
        ul
            -for(let i=0;i<5;i++) //자바스크립트같은 프로그래밍적인 요소를 사용하기 위해서는 -기호를 앞에 붙여준다.
                li coding
        div=time 